<button class="button-56" (click)="goBack()">back</button>
<br>
<div class="container">
    <div class="chart-container" >
       <canvas id="myChart"></canvas>
    </div>
    <div class="chart-container" >
        <canvas id="pickupLocationsPieChart"></canvas>
     </div>
     <div class="chart-container" >
        <canvas id="pricePieChart"></canvas>
     </div>
     <div class="chart-container" >
        <canvas id="estimatedDeliveryDateChart"></canvas>
     </div>
     
     
   </div>
  







