<nav class="navbar">
  <span class="navbar-title"><b>Swift Ship</b></span>
  <div class="dropdown">
     <div class="dropdown-icon" >
       <span class="material-symbols-outlined" routerLink="/user/userInfo">
         person
        </span>
       
       <span class="material-symbols-outlined" routerLink="/login">
        logout
        </span>
     </div>
     
  </div>
 </nav>
 
 <h1>WELCOME TO THE BOOKING PORTAL</h1>
 
  <div class="division-container">

  <div class="division">
    <h2 class="division-heading">Book Your Shipment</h2>
    <button class="button-56" routerLink="CourierBooking" (click)="bookCourier()">SHIP A COURIER</button>
  </div>
  
  <div class="division">
    <h2 class="division-heading">Track Your Shipment</h2>
    <button class="button-56" routerLink="CourierDetails" (click)="trackCourier()">TRACK A COURIER</button>
  </div>

  </div>