
<form [formGroup]="CourierForm" class="container mb-3 gap-2 br-30 p-4">
    
    <div class=" formgp form-group mb-3 br-30 ">
      <label for="field1">PICKUP ADDRESS </label>
      <input type="text"  class="Form-control" formControlName="pickupAddress">
   
    </div>
      <div class=" formgp form-group mb-3 br-30 ">
        <label for="field1">DELIVERY ADDRESS </label>
        <input type="text"  class="Form-control" formControlName="deliveryAddress">
     
      </div>
      <div class=" formgp form-group mb-3 br-30 ">
        <label for="field2">PICKUP ADDRESS </label>
        <input type="text"  formControlName="pickupPincode">
      
     
      </div>
      <div class=" formgp form-group mb-3 br-30 ">
        <label for="field3">DELIVERY PINCODE </label>
        <input type="text" formControlName="deliveryPincode">
       
      </div>
      <div class=" formgp form-group mb-3 br-30 ">
        <label for="field4">WEIGHT </label>
        <input type="text"  formControlName="weight">

     
      </div>
      <div class=" formgp form-group mb-3 br-30 ">
        <label for="field5">HEIGHT </label>
        <input type="text"  formControlName="height">
   
     
      </div>
      <div class="form-group formgp mb-3 br-30 ">
        <label for="field5">LENGTH </label>
        <input type="text"  formControlName="length">
      
     
      </div>
      <div class="form-group mb-3 formgp br-30 ">
        <label for="field5">WIDTH </label>
        <input type="text"  formControlName="width">
       
     
      </div>
      <div class="form-group mb-3 br-30  formgp">
        <label for="field5">ITEM NAME </label>
        <input type="text"  formControlName="itemName">
        
     
      </div>
      <button class=" button-56" role="button" routerLink="/Payments" (click)="onSubmit()" >Submit</button>
      <br>
      <button class=" button-56" role="button"  (click)="onCancel()" >Cancel</button>
    </form>
