<div class="division-container"*ngFor="let courier of courierList">
    <p>courierId: {{courier.courierId}}</p>
    <p>userId: {{courier.userId}}</p>
    <p>pickupAddress: {{courier.pickupAddress}}</p>
    <p>deliveryAddress: {{courier.deliveryAddress}}</p>
    <p>pickupPincode: {{courier.pickupPincode}}</p>
    <p>deliveryAddress: {{courier.deliveryPincode}}</p>
    <p>weight: {{courier.weight}}</p>
    <p>height: {{courier.height}}</p>
    <p>length: {{courier.length}}</p>
    <p>width: {{courier.width}}</p>
    <p>price: {{courier.price}}</p>
    <p>itemName: {{courier.itemName}}</p>
    <p>deliveryDate: {{courier.deliveryDate}}</p>
    <p>pickupDate: {{courier.pickupDate}}</p>
    <p>estimatedDeliveryDate: {{courier.estimatedDeliveryDate}}</p>
    <p>deliveryStatus: {{courier.deliveryStatus}}</p>
    
   
    
   </div>
   
